[Unit]
Description=NFC Scanner Service
After=mysql.service

[Service]
User=pi
ExecStart=/usr/bin/python3 /home/pi/nfc/chronos_scanner.py

[Install]
WantedBy=multi-user.target